<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Treść:</strong>
    <%= simple_format(comment.body) %>
  </p>
  <p>
    <%= link_to "Delete", article_comment_path(article_id: comment.article_id, id: comment.id), method: :delete, data: {confirm: "Pewniak?"} %>
  </p>
<% end %>
