<% if model.errors.any? %>
  <div class="alert alert-danger" role="alert" id="error_explanation">
    <h4 class="alert-heading">
      <%= pluralize(model.errors.count, 'error') %> prohibited this article from being save:
    </h4>
    <hr>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
